@import "tailwindcss";

@font-face {
  font-family: font-ital;
  src: url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
}

@layer utilities {
  .gradient {
    background: linear-gradient(90deg, #d6a100 0%, #ffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .font-ital {
    font-family: font-ital;
  }

  .gradient-gray {
    background: radial-gradient(circle, #ffffff 30%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(180deg, #161414 0%, #034da3 20%, #000205 100%);
  }

  .bg-blue-spotlight {
    background: radial-gradient(circle at center, #d6a100 0%, #ffffff 70%);
  }
  .bg-footer {
    background-color: #ffc500;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .bg-footer-2 {
    background: white;
  }

  .font-color-purple {
    color: #2c2a29;
  }

  .border-color-purple {
    border: 2px solid #ffe694;
  }

  .text-bg {
    background-image: url("https://images.unsplash.com/photo-1685458454439-f80cbf4e3dcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2012");
    background-clip: text;
    color: transparent;
    background-size: cover;
    background-position: center;
  }
}
