@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

@layer utilities {
  .font-jaro {
    font-family: "Jaro", sans-serif;
  }

  .gradient {
    background: linear-gradient(180deg, #762b90 0%, #a855f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .gradient-gray {
    background: radial-gradient(circle, #ffffff 30%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(180deg, #161414 0%, #034da3 20%, #000205 100%);
  }

  .bg-blue-spotlight {
    background: radial-gradient(circle at center, #d6a100 0%, #ffffff 70%);
  }
  .bg-footer {
    background: radial-gradient(
      circle at center,
      rgba(255, 209, 72, 0.886) 0%,
      /* gold-ish with 60% opacity */ rgba(255, 255, 255, 1) 70%
        /* white with 40% opacity */
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .bg-footer-2 {
    background: white;
  }

  .font-color-purple {
    color: #762b90;
  }

  .border-color-purple {
    border: 1px solid #762b90;
  }
}
